@use "../../styles/partials/variables" as *;

.fixture {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  font-size: 0.8rem;
  border-bottom: solid 1px lightgray;
}

.badge {
  width: 3rem;
  height: auto;
  padding: 0.2rem;
  cursor: pointer;

  &:hover {
    border: solid 2px $text-secondary;
  }
}

.score__wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
