@use "../partials/typography";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Lexend";
  background-color: rgb(245, 246, 247);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  font-family: "Lexend";
  cursor: pointer;
}

select {
  font-family: "Lexend";
}

input {
  font-family: "Lexend";
}
