$text-primary: rgb(0, 121, 255);
$text-secondary: rgb(3, 29, 100);
$background-primary: rgb(245, 246, 247);
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$background-secondary: rgb(186, 184, 211);
