@use "../../styles/partials/variables" as *;

.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 0;
  width: 60%;
}

.form {
  &__wrapper {
    background-color: $text-secondary;
    padding: 1.5rem;
    border-radius: 20px;
    color: white;
  }

  &__title {
    color: white;
  }

  &__label {
    margin-bottom: 1rem;
    display: block;
  }
  &__input {
    border-radius: 10px;
    border: solid 1px $text-secondary;
    padding: 0.5rem;
    width: 100%;

    &:focus {
      border: solid 1px lightgrey;
    }
  }

  &__button {
    border-radius: 20px;
    border: solid 2px $text-secondary;
    background-color: $background-primary;
    padding: 0.5rem 3rem;
    width: 100%;
    color: $text-secondary;
    margin: 0 2rem;
    margin: 1rem 0;
  }

  &__group {
    margin: 1rem 0;
  }

  &__signup {
    font-size: 0.8rem;

    &--link {
      color: $text-primary;
      font-weight: 700;
      font-size: 1rem;
    }
  }
}

.signup__error {
  color: red;
}
