@use "../../styles/partials/variables" as *;

.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 78vh;
  margin: 0;
}

.form {
  &__wrapper {
    background-color: $text-primary;
    padding: 2rem;
    border-radius: 20px;
    color: white;
  }

  &__title {
    color: white;
  }
  &__input {
    border-radius: 20px;
    border: solid 1px rgb(0, 121, 255);
  }

  &__button {
    border-radius: 20px;
    border: solid rgb(0, 121, 255);
    background-color: white;
    padding: 0.5rem 3rem;
    color: $text-primary;
  }
}
