@use "../../styles/partials/variables" as *;

.gameweek {
  &__title {
    margin: 1rem 0;
    color: $text-secondary;
  }
  &__badge {
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    border-radius: 20px;
    padding: 0.5rem;

    &--active {
      width: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: red;
      border-radius: 20px;
    }
  }

  &__badge-wrapper {
    min-width: 4rem;
    display: flex;
    justify-content: center;
  }
}
