@use "../../styles/partials/variables" as *;

.header {
  display: flex;

  &__title {
    margin: 0.5rem 1rem;
  }
}

.nav {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style-type: none;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  &__link {
    color: $background-primary;
    text-decoration: none;
  }
}

// .active {
//   font-weight: bold;
//   text-decoration: underline;
// }

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 1rem;
  top: 1rem;
}

.bm-burger-bars {
  background: rgb(3, 29, 100);
}

.bm-burger-bars-hover {
  background: rgb(0, 121, 255);
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: white;
}

.bm-menu-wrap {
  position: fixed;
  height: 100vh;
}

.bm-menu {
  background: rgb(3, 29, 100);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: white;
  padding: 0rem;
}

.bm-item {
  display: inline-block;
}
