@use "../../styles/partials/variables" as *;

.footer {
  background-color: $text-secondary;
  width: 100%;

  &__content {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 0 1rem 1rem;
  }

  &__title {
    color: white;
  }

  &__nav {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
  }
}
