@use "../../styles/partials/variables" as *;

.footer {
  background-color: $text-primary;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;

  &__title {
    color: white;
  }

  &__nav {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
