@use "./styles/partials/resets";

h1,
h2 {
  text-align: center;
  color: rgb(0, 121, 255);
}

main {
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form {
  &__group {
    margin: 1rem;
  }

  label {
    display: block;
  }
}
