@use "../../styles/partials/variables" as *;

.leagues {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  flex: 1;

  &__title {
    color: $text-secondary;
  }
}

.button {
  background-color: $text-secondary;
  color: white;
  padding: 0.5rem;
  width: 100%;
  height: 4rem;
  border-radius: 20px;
  border: 2px solid $text-secondary;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
    align-items: center;
  }
}

.create-league {
  flex-direction: column;
  display: flex;
  gap: 1rem;
  align-items: center;

  &__dropdown {
    width: 100%;
  }
}
