@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.homepage {
  height: 100%;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  flex: 1;

  @include tablet {
    width: 60%;
  }

  &__image {
    width: 100%;
    padding: 0;
    margin: 1rem 0 0 0;
    border-radius: 20px;
  }

  &__content {
    width: 100%;
    padding: 1rem 0;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;

    @include tablet {
      width: 60%;
    }
  }

  &__button {
    background-color: $text-secondary;
    padding: 0.5rem 0rem;
    width: 100%;
    border-radius: 20px;
    font-size: 1rem;
    color: white;
    border: 2px solid rgb(3, 29, 100);

    &--signup {
      background-color: rgb(245, 246, 247);
      color: $text-secondary;
      border: 2px solid $text-secondary;
    }
  }
  &__description {
    width: 100%;
  }
  &__description-title {
    color: $text-secondary;
    text-align: left;
    margin: 0.5rem 0;
    font-size: 1.4rem;
  }
  &__description-copy {
    text-align: left;
    font-weight: 300;
    line-height: 1.5rem;
    text-align: left;
    font-size: 0.8rem;
  }
}
