@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.howtoplay {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;

  @include tablet {
    width: 70%;
  }

  &__title {
    color: $text-secondary;
    margin-top: 1rem;
  }

  &__list {
    align-self: flex-start;
    width: 80%;
    text-align: left;
    font-size: 0.9rem;
    margin: 2rem auto 0 auto;
    padding: 0 1rem;
  }

  &__list-item {
    margin-bottom: 0.5rem;
  }
}

.get-started {
  border: 2px solid $text-secondary;
  border-radius: 10px;
  padding: 1rem;
  width: 80%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-self: flex-end;
  background-color: $text-secondary;

  &__title {
    color: white;
    margin-bottom: 3rem;
  }

  &__cta {
    color: $text-secondary;
    background-color: white;
    border-radius: 20px;
    padding: 0.5rem;
    border: 2px solid $text-secondary;
  }
}
